.*.sw[nop]
INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.h.in~
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
.deps/
Makefile
config.h
*.log
config.status
libtool
stamp-h1
x11vnc
*.o
Xdummy
